@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
    --primary-color: #2563EB;
    --dark-grey: #4B5563;
    --offwhite: #E5E7EB;
    
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    margin:0px;
}

h1 {
    text-align: center;
    margin: 2rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem;
    margin-bottom: 1rem; */
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}
/* .container {
    width: 50%;
    margin: auto;
} */

input,label {
    font-family: 'Ubuntu', sans-serif;
    display: block;

}


input {
    margin-bottom: 0.5rem;
    width: 100%;
}


#check-button {
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#txt-result {
    text-align: center;
    padding-top: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}


/** footer **/

.footer{
    margin-top:auto;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}


.footer .link {
    color: white;
}

.footer .footer-head{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}

.list-item-inline .footer-img {
   min-height: 30px;
}
